.stepsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: tomato; */
    width: 40%;
    height:200px;
    margin-top: 15px;
    padding-bottom: 5px;
    border: solid 1px rgb(230, 230, 230);
}


.stepsFormContainer {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;



}

.submitNewStep {
    border-radius: 5px;
    margin-top: 0px;
}


.stepsTitle {
    display: flex;
    /* justify-content: center; */
    width: 50%;
    margin: 10px;


}

.stepsDetails {
    display: flex;
    width: 75%;
    height: 100%;
    margin: 10px;



}
