@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
    box-sizing: border-box;
}

.liveSearchBar{
    margin-left: 84%;
    vertical-align: text-top;
    margin-bottom: 10px;
    width: 250px;
    height: 30px;
}

.searchTitle{
    margin-left: 84%;
    vertical-align: text-top;

    width: 250px;
    height: 30px;
}

.potionable-container {
    /* background: linear-gradient(100deg,#FFFFFF,#E3F6F5,#BAE8E8);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite; */
  background-color: whitesmoke;
    display: inline-grid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    /* margin-top: 20px; */
    height: 1000px;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;

    grid-template-rows: auto;
    row-gap: 20px;


    padding-bottom: 50px;

}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


.potionable-container a {
    text-decoration: none;
    color: blue;
}



.image-container {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 1634px;
    /* margin: 0 auto; */

}

.image-container img {
    border-bottom: 1px solid #eee;
    width: 100vw;
    height: 100%;
    max-height: 400px;
    max-width: 100vw;
    /* margin: 0 auto; */

}

.divWrapperMainPage{
    background-color: whitesmoke;
}



.overlay-container {
    position: absolute;
    /* background-color: blue; */
    left: 100px;
    top: 150px;
    z-index: 2;
    width: 45vw;
    max-width: 520px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;


}

.overlay-h1 {
    color: #eee;

    font-weight:100;
    margin-top: 70px;

    font-size: 50px;
    line-height: 80px;
    text-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.overlay-p {
    color: white;
    display: block;
  /* margin-block-start: 1em; */
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-shadow: 0 1px 4px rgb(0 0 0 / 15%);

  font-size: 20px;
  font-weight: 600px;


}
