.project-card {
    border: 1px solid #b1a8b9;
    /* Rounds off card: */
    border-radius: 6px;

    height: 100%;
    width: 100%;
    max-height: 304px;
    max-width: 370px;
    padding: 2px;

    text-decoration: none;

    background-color: #eee;


    transition-duration: .5s;
    box-shadow: 0px 3px 3px  #ffffff54
}

.project-card:hover {

        height: 800px !important;
        width: 800px !important;;
}



.project-image {

    object-fit: fill;
    height: auto;
    width: 100%;
    height: 230px;
    max-width: 360px;
    max-height: 230px;
    border-radius: 5px;
}

.project-subtext {
    display: grid;
    grid-template-rows: 25px 25px;

    text-decoration: none;

    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
