.newProjectsForm{
    width: max-content;

    font-family: "Segoe UI", sans-serif;
    padding: 75px 75px 75px 75px;
    background: #151414;
    border: 1px solid #302d2d;

   /* margin-left: 40%;
   margin-right: 40%; */
   margin-left: auto;
   margin-right:auto;
   margin-top: 5%;
   background-color: #151414;
   border: 1px solid #302d2d;
   border-radius: 7px;

}

.newTextArea{
    height:175px;
    width:525px;
    background-color:#323131;
    color: whitesmoke;
    border-radius: 4px;
    font-family:'Redressed', cursive;

}

.newProjectTitle{
    color:white;
    /* background-color: white; */

    margin-top: 5%;
    /* margin-left: auto;
    margin-right:auto; */
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family:'Redressed', cursive;
      -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
}


.newProjectsinputLogin{
    width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  font-family:'Redressed', cursive;
  color: whitesmoke;

}

.newProjectsinput-parent{
    display: block;
    margin-bottom: 20px;
}

.newProjectsinput-parent input{
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #323131;
    border: none;
    color: whitesmoke;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
