*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}




.loginForm{
    width: max-content;

    font-family: "Segoe UI", sans-serif;
    padding: 75px 75px 75px 75px;
    background: #151414;
    border: 1px solid #302d2d;

}
.demoButtonLogin{
    margin-top: 30px;
}

@keyframes popup {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



.inputLogin{

    width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}



  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #ccc8c8;
}

.input-parent {
    display: block;
    margin-bottom: 20px;
}

.input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #323131;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
.input-parent input:hover {
    background: #404040;
}
.input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}

button {
    padding: 10px 18px;
    font-size: 15px;
    background: #FFD700;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: black;
    transition: all 0.2s ease;
    margin-top: 15px;
}
button:hover {
    opacity: 0.9;
    color:rgb(0, 0, 0);
    font-weight: bolder;
}
button:focus {
    box-shadow: 0px 0px 0px 3px black;
}


body {
    background: #000000;
}
