.DeleteOneStepFromModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding: 20px;
    /* background: #151414; */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-bottom: 20px;
}

.DeleteOneStepFromModal {
    display:flex;
    justify-content: center;
    margin-top: 15px;
    background: #FFD700;
    padding: 7px 9px;
    border-radius: 4px;
}
